body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-image: url('../image/indexback.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
	text-align: center;
    font-size: 2em;
}

h1 span{
	color: #1338be;
}

.calculator {
    text-align: center;
    margin-top: 50px;
}

input[type="date"],
button {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: #ecf0f3; 
    border: none;
    border-radius: 5px; 
}

button {
	background-color: #cc5500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
	background-color: #1338be;
}

h3 span{
	color: #1338be;
}
	

.result-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    width: calc(33.33% - 20px);
    max-width: 120px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.result-number {
    font-size: 24px;
    display: block;
	color: #cc5500;
}

.result-label {
    font-size: 16px;
    color: #1338be;
}




