body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-image: url('../image/indexback.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
	margin-top: 50px;
}

h1 span{
	color: #1338be;
}

.slider-container {
    position: relative;
    width: 50%;
    max-width: 500px;
    margin: auto;
	margin-top: 50px;
}

.slider {
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    display: block;
}

.slide::after {
    content: attr(data-desc);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(204, 85, 0, 0.8);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.slide:hover::after {
    opacity: 1;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1338be;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    font-size: 18px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.nav-btn:hover {
    background-color: #cc5500;
}